PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/nexttrack?retryWrites=true&w=majority
JWT_SECRET=nexttrack_secret_jwt_key_2026_super_secure
DEVICE_API_KEY=nexttrack_device_secret_key_9988
CORS_ORIGIN=*
